/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Miryoku {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&soft_off  &kp Q           &kp W        &kp F           &kp P    &kp B               &kp J              &kp L    &kp U            &kp Y        &kp SQT          &soft_off
&soft_off  &mt A LEFT_WIN  &mt R LCTRL  &mt S LEFT_ALT  &kp T    &mt G LEFT_SHIFT    &mt M RIGHT_SHIFT  &kp N    &mt E RIGHT_ALT  &mt I RCTRL  &mt O LEFT_META  &soft_off
&soft_off  &kp Z           &kp X        &kp C           &kp D    &kp V               &kp K              &kp H    &kp COMMA        &kp DOT      &kp FSLH         &soft_off
                                        &kp ESC         &kp RET  &lt 1 BACKSPACE     &kp SPACE          &kp TAB  &kp DELETE
            >;
        };

        Nav {
            bindings = <
&trans  &trans         &trans     &trans        &trans         &trans            &trans      &trans          &trans          &trans        &trans     &trans
&trans  &kp LEFT_META  &kp LCTRL  &kp LEFT_ALT  &trans         &kp LEFT_SHIFT    &caps_word  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans         &trans     &trans        &kp BACKSPACE  &trans            &kp INS     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &trans
                                  &trans        &trans         &trans            &kp RET     &kp BACKSPACE   &kp DEL
            >;
        };

        Mouse {
            bindings = <
&trans  &trans         &trans     &trans        &trans         &trans            &trans      &trans          &trans          &trans        &trans     &trans
&trans  &kp LEFT_META  &kp LCTRL  &kp LEFT_ALT  &trans         &kp LEFT_SHIFT    &caps_word  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans         &trans     &trans        &kp BACKSPACE  &trans            &kp INS     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &trans
                                  &trans        &trans         &trans            &kp RET     &kp BACKSPACE   &kp DEL
            >;
        };
    };
};
